<!DOCTYPE html>
<html>
  <head>
    <title>TemplateProject</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target=".list-group" data-offset="0">
    <div class='flash-notices'>
      
      <% if flash[:notice].present? %>
        <div class='alert alert-success' role='alert'>  
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
      

      <% if flash[:alert].present? %>
        <div class='alert alert-warning' role='alert'>
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
