<!DOCTYPE html>
<html>
  <head>
    <title>TemplateProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='flash-notices'>
      
      <% if flash[:notice].present? %>
        <div class='alert alert-success' role='alert'>  
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>
      

      <% if flash[:alert].present? %>
        <div class='alert alert-warning' role='alert'>
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>
    </div>

    <% if Rails.env.test? %>
      <style type="text/css">
        .modal.fade, .fade {
          -webkit-transition: opacity 0.01s;
          -moz-transition: opacity 0.01s;
          -ms-transition: opacity 0.01s;
          -o-transition: opacity 0.01s;
          transition: opacity 0.01s;
        }
      </style>
<%end%>
    
    <%= yield %>
  </body>
</html>
